input {
  margin-right: 2rem;
  margin-left: 0.5rem;
  padding: 10px;
  border: solid 2px #b4bcc2;
  border-radius: 5px 5px;
}

input[type='submit'] {
  display: inline;
  height: 2.5rem;
  border: solid 2px #5fb2e8;
  border-radius: 5px 5px;
  background: #1879b8;
  color: white;
}

input[type='submit']:hover {
  background: #5fb2e8;
  cursor: pointer;
}

form {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

label {
  margin: 5px;
}

.suggestions {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-right: 2rem;
  width: 10rem;
  height: 100px;
  overflow-y: auto;
}

.suggestionsContainer {
  display: inline-flex;
  flex-direction: column;
}

.suggestion {
  padding: 3px;
}

.suggestion:hover {
  background: #f2f7fa;
  text-decoration: underline;
  cursor: pointer;
  border-radius: 5px 5px;
}

@media only screen and (max-width: 1205px) {
  input[type='submit'] {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  form label {
    display: block;
  }
}
