.zoomOutButton {
  border: none;
  border-radius: 5px;
  background: #1879b8;
  padding: 10px 15px;
  color: white;
}

.zoomOutButton:hover {
  background: #5fb2e8;
  cursor: pointer;
}

.recharts-legend-wrapper .recharts-default-legend .recharts-legend-item {
  cursor: pointer;
}

.recharts-legend-wrapper .recharts-default-legend .recharts-legend-item:hover {
  opacity: 0.5;
}
